*
{
    margin: 0;
    padding: 0;
	/*border: 4px solid red;*/
}

body {
	margin: 0;
	color: white;
	font-family: 'Press Start 2P', cursive;
	background-color: #3B4959;
}

#background{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -100;
}

#board{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 30em;
	
}